.customNavbar {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  border-bottom: 1px solid rgb(94, 94, 94);
  background-color: #242424;
  
}

.navButton {
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;

  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 7px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navButton:hover {
  background-color: #79e2fffb;
  color: #000;
}

.active {
  background-color: #79e2fffb;
  color: #000;
}

.rotateSlow {
  width: 40px;
  height: 40px;
  animation: rotate 5s linear infinite;
   image-rendering: optimizeQuality;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  will-change: transform;
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
    transition: transform 0.7s ease-in-out;
  }
  to {
    transform: rotate(360deg);
    transition: transform 0.7s ease-in-out;
  }
}

.rotateSlow:hover {
  animation: rotate 0.7s ease-in-out infinite;
}

a {
  text-decoration: none;
  color: inherit;
}