.navbar {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  border-bottom: 1px solid rgb(94, 94, 94);
  background-color: #242424;
  
}



.simple-button {
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;

  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 7px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.simple-button:hover {
  background-color: #79e2fffb;
  color: #000;
}

.hero {
  display: flex;
  flex-direction: column;     
  justify-content: center;    
  align-items: center;
  padding: 4rem;
  gap: 0.5rem;

  border-bottom: 1px solid rgb(94, 94, 94);
  background-color: #1b1b1b;
  color: #fff; 
  font-size: 1rem;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  width: fit-content; 
  margin: 0 auto; 
  
}


.user-avatar-button {
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  color: #fff;
  
}

.user-avatar-button img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 0.5rem;

  border: 2px solid transparent;
  transition: border-color 0.3s ease, color 0.3s ease;
}


.user-avatar-button:hover {
  color: #79e2fffb;
}

.user-avatar-button:hover img {
  border-color: #79e2fffb; 
}

.user-avatar-button .dropdown-toggle::after {
  display: none;
}


.home-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
  width: 450px;
  min-height: 200px;

  background-color: #242424;
  color: #fff;
  border-radius: 10px;
  
}

.home-cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;

  background-color: #242424;
}
@media (max-width: 1024px) {
  .home-cards-container {
    flex-direction: column; 
    align-items: center; 
  }
}

.home-card-developer {
  background-color: #1b1b1b;
  color: #fff;
}

.home-card-employer {
  background-color: #1b1b1b;
  color: #fff;
}

.button-home-card {
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;

  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 7px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button-developer {
  background-color: #79e2fffb;
  color: #000000;
  font-weight: 600;

}
.button-developer:hover {
  background-color: #48aac5fb;

}

.button-employer {
  background-color: #ffa537;
  color: #000000;
  font-weight: 600;
}
.button-employer:hover {
  background-color: #c4781c;

}

.button-start {
  border: 1px solid rgb(94, 94, 94);
  font-weight: 600;
}
